# This workflow is used to test the action

on:
  push:
  pull_request:

jobs:
  test:
    name: Test action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - id: build
        uses: OpenAstronomy/build-python-dist@9a4b2bd6bda5c48ef3c12b53504ee2263ed032e3  # v1.1.0
        with:
          pure_python_wheel: true
      - id: upload
        uses: ./
        with:
          anaconda_user: OpenAstronomyCI
          anaconda_package: test-package
          anaconda_token: ${{ secrets.anaconda_token }}
          keep_n_latest: 2
  test_no_keep:
    name: Test action (no keep option specified)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - id: build
        uses: OpenAstronomy/build-python-dist@9a4b2bd6bda5c48ef3c12b53504ee2263ed032e3  # v1.1.0
        with:
          pure_python_wheel: true
      - id: upload
        uses: ./
        with:
          anaconda_user: OpenAstronomyCI
          anaconda_package: test-package
          anaconda_token: ${{ secrets.anaconda_token }}
